<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <script type="text/javascript" th:src="@{https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js}"></script>
        <link th:href="@{https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet"/>
        <link th:href="@{/css/default.css}" rel="stylesheet"/>
        <link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon"/>
        <meta charset="UTF-8"/>
        <title>城市管理</title>
    </head>

    <body>
        <div class="contentDiv">

            <h5>Spring Boot Mybatis和Redis案例</h5>

            <legend>
                <strong>城市管理</strong>
            </legend>

            <form th:action="@{/city/{action}(action=${action})}" method="post" class="form-horizontal">

                <input type="hidden" name="id" th:value="${city.id}"/>

                <div class="form-group">
                    <label for="city_name" class="col-sm-2 control-label">城市名称:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="city_name" name="cityName" th:value="${city.cityName}" th:field="*{city.cityName}" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="city_desc" class="col-sm-2 control-label">城市描述:</label>
                    <div class="col-xs-4">
                        <input type="text" class="form-control" id="city_desc" name="desc" th:value="${city.desc}" th:field="*{city.desc}" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input class="btn btn-primary" type="submit" value="提交"/>&nbsp;&nbsp;
                        <input class="btn" type="button" value="返回" onclick="history.back()"/>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>